<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hariharan.connectme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission
        android:name="android.permission.SEND_RESPOND_VIA_MESSAGE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hariharan.connectme.MemoryActivity"></activity>
        <activity android:name="com.hariharan.connectme.Memories" />
        <activity android:name="com.hariharan.connectme.NavigationHeader" />
        <activity android:name="com.hariharan.connectme.Notifications" />
        <activity android:name="com.hariharan.connectme.UserProfile" />
        <activity android:name="com.hariharan.connectme.BasicInfoRV" />
        <activity android:name="com.hariharan.connectme.Details" />
        <activity android:name="com.hariharan.connectme.Profile" />
        <activity android:name="com.hariharan.connectme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>